.iconfont
    font-family 'iconfont' !important
    font-size 16px
    font-style normal
    -webkit-font-smoothing antialiased
    -moz-osx-font-smoothing grayscale

.icon-fenleibefore
    content "\3452"

.icon-webbefore
    content "\e640"

.icon-welfarebefore
    content "\e60e"

.icon-iosbefore
    content "\e6c2"

.icon-daybefore
    content "\e60b"

.icon-androidbefore
    content "\e601"

.icon-leftbefore
    content "\e60a"

.icon-html5before
    content "\e6c5"

.icon-sousuo_sousuobefore
    content "\e67a"